<!doctype html>
<html>
{% include head.html %}

<body>
    <div class="container px-lg-5">
        {% for instrument in site.instruments %}
            <div class="row gx-5">
                <div class="col-md-6">
                        <div class="my-4">
                            <img src="{{ instrument.headline }}" class="img-fluid img-gallery" alt="image">
                        </div>
                </div>
                <div class="col-md-6 my-4">
                    <div class="content">
                        <h2 class="">{{ instrument.name }}</h2>
                        <a href="{{ instrument.url }}" class="btn btn-outline-secondary stretched-link">Read</a>
                    </div>
                </div>  
            </div>
        {% endfor %}  
    </div>
    {% include footer.html %}

</body>

</html>